<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 4.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pres.haimi.csc.task.dao.user.UserDao">
    <resultMap id="user" type="pres.haimi.csc.task.model.user.PlainUser">
        <id column="u_id" property="id"></id>
        <result column="u_username" property="userName"></result>
        <result column="u_password" property="password"></result>
        <result column="u_gender" property="gender"></result>
        <result column="u_telephone" property="telephone"></result>
        <result column="u_publish_times" property="publishTimes"></result>
        <result column="u_accept_times" property="acceptTimes"></result>
        <result column="u_finish_times" property="finishTimes"></result>
        <result column="u_integrate" property="integrate"></result>
        <result column="u_avatar" property="avatar"></result>
        <result column="u_mail" property="mail"></result>
    </resultMap>

    <insert id="add" parameterType="pres.haimi.csc.task.model.user.PlainUser">
        INSERT INTO user_info(u_username,u_password,u_gender,u_telephone,u_publish_times,u_accept_times,u_finish_times,u_integrate,
        u_avatar,u_mail)VALUES(#{userName},#{password},#{gender},#{telephone},#{publishTimes},#{acceptTimes},#{finishTimes},#{integrate},#{avatar},#{mail})
    </insert>

    <select id="select" resultMap="user">
        SELECT * FROM user_info WHERE u_id=#{id}
    </select>

    <select id="selectAll" resultMap="user">
        SELECT * FROM user_info
    </select>

    <select id="selectByName" resultMap="user">
        SELECT * FROM user_info WHERE u_username=#{name}
    </select>

    <update id="update" parameterType="pres.haimi.csc.task.model.user.PlainUser">
        UPDATE user_info SET u_username=#{username},u_password=#{passowrd},u_gender=#{gender},u_telephone=#{telephone},
        u_publish_times=#{publishTimes},u_accept_times=#{acceptTimes},u_finish_times=#{finishTimes},u_integrate=#{integrate},
        u_avatar=#{avatar},u_mail=#{mail} WHERE u_id=#{id}
    </update>

    <delete id="delete">
        DELETE FROM user_info WHERE u_id=#{id}
    </delete>
</mapper>