<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 4.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pres.haimi.csc.task.dao.DemoDao">

    <!-- 根据聊天记录对象插入表 -->
    <insert id="add" parameterType="Demo">
        insert into demo (name)
        values(#{name})
    </insert>

</mapper>
